.collapsible {
    background-color: rgb(1, 50, 32);
    color: rgb(245, 242, 226);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on */
  .active, .collapsible:hover {
    background-color: rgb(31, 80, 62);
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(245, 242, 226);
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    background-color: rgb(245, 242, 226);
    font-size: 13px;
    color: rgb(245, 242, 226);
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }