
img {
  max-width: 100%;
  height: auto;
}

body {
    font-family: 'UI-rounded', 'fangsong';
    font-size: 150%;
    margin: 0;
    padding: 0;
    background-color: rgb(1, 30, 22);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgb(0, 0, 35);
    color: rgb(245, 242, 226);
    text-align: center;
    font-size: 200%;
    padding: 5px;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  background: rgb(0, 0, 35);
  color: rgb(245, 242, 226);
  border: 1px solid black;
  z-index: 1000;
}

#closePopup {
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}

#popup h2 {
  color: rgb(245, 242, 226);
}

h1 {
    font-size: .3em;
}

section {
    padding: 20px;
    margin: 15px;
    background-color: rgb(245, 242, 226);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

h1, h2 {
    color: #333;
}

.project {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: rgb(245, 242, 226);
    background-color: rgb(0, 0, 35);
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.about-container {
    display: flex;
    align-items: center;
}

.about-image {
    max-width: 300px; /* Adjust the maximum width of the image */
    margin-right: 20px; /* Adjust the spacing between image and text */
}

.about-text {
    flex-grow: 1;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.project-content, .about-website {
  width: 45%;
}

/* download button */
.Btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  }
  
  .svgIcon {
    fill: rgb(214, 178, 255);
  }
  
  .icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid rgb(182, 143, 255);
    border-left: 2px solid rgb(182, 143, 255);
    border-right: 2px solid rgb(182, 143, 255);
  }
  
  .tooltip {
    position: absolute;
    right: -135px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(12, 12, 12);
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    left: -5%;
    transition-duration: .3s;
  }
  
  .Btn:hover .tooltip {
    opacity: 1;
    transition-duration: .3s;
  }
  
  .Btn:hover {
    background-color: rgb(150, 94, 255);
    transition-duration: .3s;
  }
  
  .Btn:hover .icon2 {
    border-bottom: 2px solid rgb(235, 235, 235);
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
  }
  
  .Btn:hover .svgIcon {
    fill: rgb(255, 255, 255);
    animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

.gallery-expand-button {
  font-family: 'Arial', sans-serif;
  background-color: rgb(1, 30, 22);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: .8%;
  outline: none;
}

.active, .gallery-expand-button:hover {
  background-color: rgb(11, 60, 42);
}

.projects-button {
  font-family: 'Arial', sans-serif;
  background-color: rgb(1, 30, 22);
  color: white;
  border: none;
  cursor: pointer;
  padding: .8%;
  border-radius: 5px;
  outline: none;
}

.active, .projects-button:hover {
  background-color: rgb(11, 60, 42);
}

.code-window {
  background-color: #1b1b1b; /* Light grey background */
  border: black; /* Black border */
  color: #ffffff; /* White text color */
  padding: 10px; /* Add padding */
  font-family: 'Courier New', monospace; /* Use monospace font */
  font-size: 18px; /* Set font size */
  line-height: 1.5; /* Set line height */
  border-radius: 30px; /* Add border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /* Add shadow */
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.imageColumn {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.imageRow::after {
  content: "";
  clear: both;
  display: table;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* Media query for screens smaller than 600px (mobile) */
@media only screen and (max-width: 600px) {
  body {
      font-size: 14px;
  }

  header {
      font-size: 150%; /* Adjust header font size for smaller screens */
      padding-bottom: 0px; /* Adjust padding for smaller screens */
  }

  nav {
    font-size: 14px; /* Adjust font size for navigation links on mobile devices */
    padding: 5px; /* Adjust padding for navigation links on mobile devices */
    padding-top: 15px; /* Adjust padding for navigation links on mobile devices */
  }

  nav a {
    margin: 1%; /* Adjust margin for navigation links on mobile devices */
  }
  
  /* Default styles for larger screens */
  body {
    font-size: 16px;
  }

  #popup {
    width: 80%;
    height: 50%;
  }

  .flex-container {
    flex-direction: column;
    justify-content: center;
  }

  .project-content, .about-website {
    width: 100%;
  }

  .about-container {
      flex-direction: column; /* Stack image and text in a column on smaller screens */
  }

  .about-image {
      max-width: 100%; /* Ensure the image takes full width on smaller screens */
      margin-right: 0; /* Remove margin for smaller screens */
      margin-bottom: 10px; /* Add margin between image and text on smaller screens */
  }

  .about-text {
      text-align: center; /* Center-align text on smaller screens */
  }

  .projects-button, .gallery-expand-button{
    font-size: 1.2em; /* Increase font size of the button */
    padding: 2%; /* Increase padding of the button */
    border-radius: 5px; /* Add border radius to the button */
    background-color: rgb(0, 0, 35); /* Change background color of the button */
    color: rgb(245, 242, 226); /* Change text color of the button */
  }

  .code-window {
    font-size: 14px; /* Adjust font size for code window on smaller screens */
    
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .imageColumn {
    float: left;
    width: 50%;
    padding: 2px;
  }

  /* Clear floats after image containers */
  .imageRow::after {
    content: "";
    clear: both;
    display: table;
  }
  /* Add more responsive styles for other sections as needed */
}
